<header>
    <div class="navbar">
        <div class="top-nav">
            <div class="icon">
                <img src="../../assets/icons/bars.svg">
            </div>
            <div class="app-logo">
                <img src="../../assets/images/logo.png">
            </div>
            <div class="icon">
                <img src="../../assets/icons/search_icon.svg">
            </div>
        </div>
        <div class="slider-menu">
            <ul>
                <li><a class="active" routerLink="/home">Home</a></li>
                <li><a routerLink="/movies">Movies</a></li>
                <li><a routerLink="#">aha Originals</a></li>
                <li><a routerLink="#">Wishlist</a></li>
            </ul>
        </div>
    </div>
</header>