<div class="bottom-nav">
    <nav>
        <ul>
            <li>
                <a routerLink="home"><img src="assets/icons/home.svg" alt=""></a>
            </li>
            <li>
                <a routerLink="home"><img src="assets/icons/reel.svg" alt=""></a>
            </li>
            <li class="shorts">
                <a routerLink="home"><img src="assets/icons/shorts.svg" alt=""></a>
            </li>
            <li>
                <a routerLink="home"><img src="assets/icons/heart.svg" alt=""></a>
            </li>
            <li>
                <a routerLink="home"><img src="assets/icons/profile.svg" alt=""></a>
            </li>
        </ul>
    </nav>
</div>