<main class="container-fluid ">

    <!--banner section -->

    <div>
        <img src="../../../assets/Images/slider.svg" class="img-fluid" alt="Responsive image">

    </div>

    <!--banner section ends  -->
    <h2 class="mb-1">All is Well</h2>
    <p>new episodes</p>

    <div>
        <img src="../../../assets/Images/Group 21.svg" class="img-fluid" alt="Responsive image">
        <img src="../../../assets/Images/Group 17.svg" class="img-fluid" alt="Responsive image">
    </div>

    <!-- <div>

    <img src="../../../assets/Images/wishlist.png" class="img-fluid" width="100px"  alt="Responsive image">
    <img src="../../../assets/Images/share.png" class="img-fluid" width="100px" alt="Responsive image">

   </div> -->
    <div class="content">
        <p class="mt-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has
        </p>
    </div>
    <div>
        <hr class="content" style="height: 3px;">
    </div>

    <div class="content">
       
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../../assets/Images/slider1.svg" class="img-responsive" style="width: 100px; height: 100px;">
                </div>
                <div class="col-sm-6">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                    </p>

                </div>
                <div class="col-sm-2">
                    <img src="../../../assets/Images/Group 17.svg">

                </div>
            </div>
         </div>







</main>