  <div class="watch">
        <div class="left">
            <div class="video-player">
                <img class="poster" src="assets/images/watch-content/slider1.png" alt="">
                <img class="play_btn" src="assets/icons/play_btn.svg" alt="">
            </div>
            <div class="description">
                <h3>All is Well</h3>
                <h6>New episodes</h6>
                <div class="action-button">
                    <button class="play">
                        <img src="assets/icons/play_ico.svg">
                        Play
                    </button>
                    <button class="download">
                        <img src="assets/icons/download.svg">
                        Download S1:E3
                    </button>
                </div>
                <div class="actions">
                    <div class="action">
                        <img src="assets/icons/add.svg" alt="">
                        Wishlist
                    </div>
                    <div class="action">
                        <img src="assets/icons/share_ico.svg" alt="">
                        Share
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis enim faucibus donec semper tempor.
                    In
                    ut
                    velit, ornare vel iaculis dignissim. In sodales elementum augue eget in nunc arcu pharetra. Nisl
                    proin
                    tempor amet sed proin praesent luctus. Felis eros, commodo ac etiam vel suspendisse habitant.
                </p>
                <div class="section-break"></div>
            </div>
        </div>
        <div class="right">

            <div class="series">
                <div class="top">
                    <div class="season">
                        Season 1
                        <img src="assets/icons/dropdown.svg" alt="">
                    </div>
                    <div class="episode">
                        Episode 3
                    </div>
                </div>
                <div class="episode-list">
                    <div class="item">
                        <div class="image">
                            <img src="assets/images/watch-content/slider1.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis enim faucibus donec
                                semper
                                tempor. In ut velit, ornare vel iaculis dignissim. In sodales
                            </p>
                        </div>
                        <div class="download">
                            <img src="assets/icons/download_ico.svg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="assets/images/watch-content/slider1.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis enim faucibus donec
                                semper
                                tempor. In ut velit, ornare vel iaculis dignissim. In sodales
                            </p>
                        </div>
                        <div class="download">
                            <img src="assets/icons/download_ico.svg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="assets/images/watch-content/slider1.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis enim faucibus donec
                                semper
                                tempor. In ut velit, ornare vel iaculis dignissim. In sodales
                            </p>
                        </div>
                        <div class="download">
                            <img src="assets/icons/download_ico.svg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="assets/images/watch-content/slider1.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis enim faucibus donec
                                semper
                                tempor. In ut velit, ornare vel iaculis dignissim. In sodales
                            </p>
                        </div>
                        <div class="download">
                            <img src="assets/icons/download_ico.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>