<main class="container-fluid ">

    <!--banner section -->

    <div>
        <img src="../../../assets/Images/slider.svg" class="img-fluid" alt="Responsive image">

    </div>

    <!--banner section ends  -->
    <h2 class="mb-1 text-center">All is Well</h2>
    <p class="text-center">new episodes</p>

    <div>
        <img src="../../../assets/Images/Group 21.svg" class="img-fluid" alt="Responsive image">
        <img src="../../../assets/Images/Group 17.svg" class="img-fluid" alt="Responsive image">
    </div>

    <!-- <div>

    <img src="../../../assets/Images/wishlist.png" class="img-fluid" width="100px"  alt="Responsive image">
    <img src="../../../assets/Images/share.png" class="img-fluid" width="100px" alt="Responsive image">

   </div> -->
    <div class="content">
        <p class="mt-2">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        </p>
    </div>
    <div>
        <hr class="content" style="height: 3px;">
    </div>

         <div class="row">
            <div class="column">
              <img src="../../assets/Images/Group 19.svg" alt="Snow" style="width: 300px;">
            </div>
            <div class="column">
                <span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </span>
            </div>
            <div class="column">
              <img src="../../../assets/Images/Group 17.svg" alt="Mountains" style="width:100%">
            </div>
          </div>

          <div class="row">
            <div class="column">
              <img src="../../assets/Images/Group 19.svg" alt="Snow" style="width: 300px;">
            </div>
            <div class="column">
                <span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </span>
            </div>
            <div class="column">
              <img src="../../../assets/Images/Group 17.svg" alt="Mountains" style="width:100%">
            </div>
          </div>

          <div class="row">
            <div class="column">
              <img src="../../assets/Images/Group 19.svg" alt="Snow" style="width: 300px;">
            </div>
            <div class="column">
                <span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </span>
            </div>
            <div class="column">
              <img src="../../../assets/Images/Group 17.svg" alt="Mountains" style="width:100%">
            </div>
          </div>







</main>