<p>home works!</p>

<main class="container-fluid ">

    <!--banner section -->

    <div>
        <img src="../../../assets/Images/slider.svg" class="img-fluid" alt="Responsive image">

    </div>
    
    <!--banner section ends  -->

   <!--most watched Section -->
<div>
    <img src="../../../assets/Images/Most watched.svg" class="img-fluid" alt="Responsive image">

</div>

    <!--most watched Section ends -->

     <!--latest  Section -->
<div>
    <img src="../../../assets/Images/latest on aha.svg" class="img-fluid" alt="Responsive image">

</div>
      <!--latest  Section -->

      <!--most  Section -->

<div>
    <img src="../../../assets/Images/Most watched.svg" class="img-fluid" alt="Responsive image">

</div>

        <!--most  Section -->

</main>
