<div class="movies-main-bg">
<div class="movies-main">
    <div class="column">
            <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="column">
        <img src="../../../assets/Images/Rectangle 5.svg" class="img-fluid" alt="Responsive image">
    </div>
     </div>

     <div class="movies-main">
        <div class="column">
            <img src="../../../assets/Images/Rectangle 3 (1).svg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="column">
            <img src="../../../assets/Images/Rectangle 4.svg" class="img-fluid" alt="Responsive image">
        </div>
         </div>

         <div class="movies-main">
            <div class="column">
                <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
            </div>
            <div class="column">
                <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
            </div>
             </div>

             <div class="movies-main">
                <div class="column">
                    <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="column">
                    <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                </div>
                 </div>

                 <div class="movies-main">
                    <div class="column">
                        <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="column">
                        <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                    </div>
                     </div>
</div>                



