<div class="movies-main">
    <div class="column">
        <div>
            <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
    
        </div>
    </div>
    <div class="column">
        <div>
            <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
    
        </div>
    </div>
     </div>

     <div class="movies-main">
        <div class="column">
            <div>
                <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
        
            </div>
        </div>
        <div class="column">
            <div>
                <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
        
            </div>
        </div>
         </div>

         <div class="movies-main">
            <div class="column">
                <div>
                    <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
            
                </div>
            </div>
            <div class="column">
                <div>
                    <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
            
                </div>
            </div>
             </div>

             <div class="movies-main">
                <div class="column">
                    <div>
                        <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                
                    </div>
                </div>
                <div class="column">
                    <div>
                        <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                
                    </div>
                </div>
                 </div>

                 <div class="movies-main">
                    <div class="column">
                        <div>
                            <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                    
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <img src="../../../assets/Images/Rectangle 3.svg" class="img-fluid" alt="Responsive image">
                    
                        </div>
                    </div>
                     </div>
                



