<section class="explore">
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_1.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_2.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_3.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_4.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_5.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_6.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_7.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_8.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_9.png">
        </a>
    </div>
    <div class="content">
        <a routerLink="/movies-details">
            <img src="../../assets/images/explore/poster_10.png">
        </a>
    </div>
</section>