.explore {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.explore .content {
    flex-grow: 1;
    width: 50%;
}

.explore .content img {
    width: 100%;
    border-radius: 20px;
}

@media (min-width: 800px) {
    .explore .content{
        width: 25%;
    }
}