<div class="header">
    <a href="#default" class="logo"><img src="../../../assets/Images/slider menu.svg"></a>
    <img class="logo-center" src="../../../assets/Images/aha main icon.svg">
    <div class="header-right">
        <img src="../../../assets/Images/Search icon.svg">
    </div>
</div>

<div style="padding-left:20px">

</div>


<!--  list menu -->
<div class="mt-3">

    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="movies">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">aha Originals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Whishlist</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>



</div>