<section class="slider">
    <img src="../../assets/images/slider/slider1.png">
    <img src="../../assets/images/slider/slider2.png">
    <img src="../../assets/images/slider/slider3.png">
    <img src="../../assets/images/slider/slider4.png">
</section>
<section class="watch-content">
    <div class="heading">
        <h3>
            Continuing Watching
        </h3>
        <a routerLink="movies-details">See All</a>
    </div>
    <div class="slideable">
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_3-1.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_3.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_4.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_5.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_6.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_7.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/first_section/poster_8.png">
                <img src="../../assets/icons/play_btn.svg" alt="" class="icon">
            </a>
        </div>
    </div>
</section>
<section class="watch-content square">
    <div class="heading">
        <h3>
            Latest on Aha
        </h3>
        <a href="movies.html">See All</a>
    </div>
    <div class="slideable">
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_3-1.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_3.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_4.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_4-1.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_5-1.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/second_section/poster_4.png">
            </a>
        </div>

    </div>
</section>
<section class="watch-content">
    <div class="heading">
        <h3>
            Most watched on aha
        </h3>
        <a href="movies.html">See All</a>
    </div>
    <div class="slideable">
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_1.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_2.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_3.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_4.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_5.png">
            </a>
        </div>
        <div class="content">
            <a routerLink="movies-details">
                <img src="../../assets/images/watch-content/third_section/poster_6.png">
            </a>
        </div>
    </div>
</section>